* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fafafa;

  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #777;
  }
}

.layout-col {
  width: calc(100% - 250px);
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}